@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  animation: fadeOut 3s forwards;
  animation-delay: 2.5s;
}